{% extends 'base.html' %}

{% block content %}
{%if password_forgot %}
    <form method='post'>
        {% csrf_token %}
        <label class="from-label">Enter your Email</label>
        <input class="input-group" name="email">
        <p>We sent intration to your email</p>
        <button type="submit">Submit</button>
    </form>
{% elif password_forgot_change %}
<form method='post'>
    {% csrf_token %}
    <label class="from-label">New Password</label>
    <input class="input-group" name="password1">
    <label class="from-label">Retype Password</label>
    <input class="input-group" name="password2"><hr>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endif %}
{% endblock content %}