{% extends 'base.html' %}


{% block content %}
    {% for follow in following %}
    <div class="container bg-transparent m-2 p-2">
    <p class="btn btn-info m-2 p-2"><a href="{% url 'profile:profile' follow.pk %}">{{follow.username}}</a>
        <p class="btn btn-info m-2 p-2"><a href="{% url 'profile:profile' follow.pk %}">{{follow.email}}</a>
    <a href="{% url 'profile:follower_profile' follow.id %}"><span class="btn btn-danger m-2 p-2">{{users.followers.count}}Followers</span></a>
    {% comment %} <a href="{% url 'auth:following_profile' follow.id %}"><span class="btn btn-danger">{{users.folloings.count}}Following</span></a> {% endcomment %}
    
    {% if follow in following %}
        <span ><a href="{% url 'profile:remove_follower' follow %}" class="btn btn-danger">Un Follow</a></span>
    {% else%}
        <span ><a href="{% url 'profile:add_follower' follow %}" class="btn btn-danger">Follow</a></span>
    {% endif %}
    </div>
    {% endfor %}
{% endblock content %}
    