{% extends 'blog/base.html' %}


{% block content %}
{% comment %} {% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="btn btn-close btn-danger" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %} {% endcomment %}
    {% if user.is_authenticated %}
        <div class="container-fluid m-auto py-3 d-flex justify-content-center flex-column">
            <h1 class="btn bg-info m-auto">{{user.username}}</h1><br><br>
            <a class="btn bg-success m-auto" href="{% url 'blog:blog_add' user.username %}">ADD New Post</a><br><br>
            <a class="btn bg-success m-auto" href="{% url 'blog:user_blog' user.id %}">View All Blog {{user.username}}</a><br><br>
            <a class="btn bg-danger m-auto py-1" href="{% url 'blog:logout' user.username %}">Logout</a><br><br>
        </div>
    {% else %}
        <div>
            <a class="nav-link active" aria-current="page" href="{% url 'blog:profile' 1 %}">Profile</a>
        <a class="btn btn-info" href="{% url 'blog:signup' %}">Signup</a><br><hr>
        <a class="btn btn-success" href="{% url 'blog:login' %}">login</a><br>
        </div>
        {% comment %} <a class="btn bg-success m-auto" href="{% url 'blog:user_blog' user.id %}">View All Blog {{user.username}}</a><br><br> {% endcomment %}
    {% endif %}
{% endblock content %}
