{% extends 'blog/base.html' %}


{% block content %}
    {% comment %} <a href="{% url 'blog:home' %}">Home</a><br><br><hr> {% endcomment %}
    {% for post in posts  %}
    <hr style="color:red;">
    <div class='container-lg d-flex justify-content-center border-info'>
        <a class="text-decoration-none" href="{% url 'blog:blog_detail' user.id %}">
        <div class="post_div container-lg text-start">
            <p class="post_title"><mark class="bg-success">{{post.title}}</mark></p>
            <p class='bg-info text-sm-end' style="width: fit-content; display:contents;"> Author Name <mark>{{post.author}}</mark> Create at {{post.create_at}}</p>
            <p class="body_post"> {{post.body}}</p><br>
            <hr>
        </div>
        </a>
    </div>
    {% endfor %}

{% endblock content %}
