{% extends 'blog/base.html' %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    <label class="from-label">Old Password</label>
    <input class="input-group" name="old_password">
    <label class="from-label">New Password</label>
    <input class="input-group" name="password1">
    <label class="from-label">Retype Password</label>
    <input class="input-group" name="password2"><hr>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
    <p>{{msg}}</p>
{% endblock content %}