{% extends 'blog/base.html' %}

{% block content %}
<form action="{% url 'blog:home' %}" method='post' > 
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="uname" class="form-label">Username:</label>
        <input type="text" class="form-control" id="uname" placeholder="Enter username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Email:</label>
        <input type="email" class="form-control" id="pwd" placeholder="Enter password" name="email" required>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password Confirm:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password_confirm" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
