<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'pages:home' %}">Django Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'pages:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:blog_list' %}" active>Blogs</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:blog_add' user.username %}" active>ADD Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
                </a>
                <ul class="dropdown-menu bg-info" aria-labelledby="navbarDropdown" style="position: absolute;">
                {% comment %} <img src="{% get_media_prefix %}profile/default.png" class="bg-danger rounded-5 card-img-top mx-auto d-block" alt="your profile images"/> {% endcomment %}
        
    <div class="card-body">
        <h5 class="card-title bg-info text-center mt-2 mb-2">{{user.username}}</h5>
        <h5 class="card-title bg-info text-center mt-1 mb-2">{{user.email}}</h5>
        <p class="card-text bg-info mt-1 mb-3" style="min-width:20px; min-height:50px;" >
            Here is your bio
        </p>
    </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center mt-0 mb-2"><span class=""><a href="{% url 'blog:user_blog' user.id %}" class="card-link text-decoration-none">{{users.username}}blogs</a></span></li>
            <li class="list-group-item text-center mt-2 mb-2"><span class=""><a href="{% url 'auth:password_change' user.username%}" class="card-link text-decoration-none">Password Change</a></span></li>
            <li class="list-group-item text-center mt-2 mb-2"><span class=""><a href="{% url 'auth:password_forgot' user.username%}" class="card-link text-decoration-none">Forgot Password</a></span></li>
            <li class="list-group-item text-center mt-2 mb-2"><span class=""><a href="{% url 'auth:logout' user.username %}" class="card-link text-decoration-none">Logout</a></span></li>
        </ul>
        <div class="card-body mt-2 mb-2" style="display:grid;">
            <span class="text-center mt-0 mb-2 ms-4 img-thumbnail"><a href="{% url 'profile:follower_profile' user.id %}" class="card-link text-decoration-none">{{instance.follower.count}} Follower</a></span>
            <span class="text-center mt-0 mb-2 ms-4 img-thumbnail"><a href="{% url 'profile:following_profile' user.id %}" class="card-link text-decoration-none">{{instance.following.count}} Following</a></span>
        </div>
    </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'auth:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'auth:signup' %}">Sign up</a>
            </li>
            {% endif %}
            {% comment %} {% include 'blog/search_result.html' %} {% endcomment %}
        </ul>
        <div class="nav-item">
            <form class="d-flex justify-content-end" action="{% url 'profile:search_user' %}" method="get">
                {% csrf_token %}
                <input class="form-control me-2" name="q" type="search" placeholder="Username" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div></nav>
